/*ui-kit*/
.ui-kit {
  margin-top: 140px;
}

.ui-kit__column {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.ui-kit__editor {
  margin-bottom: 20px;
}

/*editor*/

.label {
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #1F2041;
}

.label__subtitle {
  font-weight: 400;
  color: rgba(31, 32, 65, 0.5);
}

.editor {
  width: 100%;
  padding: 12px 14px;
  line-height: 18px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.editor:hover,
.editor:focus,
.editor_focused {
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.editor::placeholder {
  color: rgba(31, 32, 65, 0.25) !important;
}

.editor_type_select {
  appearance: none;
  background-image: url('../../assets/icons/expand_more.svg');
  background-repeat: no-repeat;
  background-position: right 14px center;
}

.ui-kit__group {
  display: flex;
  gap: 20px;
}

.ui-kit__left,
.ui-kit__right {
  width: 150px;
}
